@{
    ViewData["Title"] = "Home Page";
}
<h2>Contact Information</h2>
<p>Address: Braamfontein Centre, 23 Jorissen St, Johannesburg, 2017, South Africa</p>
<p>Phone number: 071 2345 678</p>
<p>Email: James@Khumalocraft.co.za</p>